 .containerBox {
  display: flex;
  flex-direction: row;
  height: 100%;
} 

/* .containerBox {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content {
  flex: 1;
}

.main {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
} */
.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0 0px 10px -10px var(#000);
  background-color: #f6f6f7;
}

.headerContent {
  display: flex;
}

.logoTitle {
  font-weight: bold;
  margin: 1rem;
  color: #002C63;
}